.navigation  {
    box-sizing: border-box;
    background-color: purple;
    height: 100px;
    text-align: center;

}

.fashion{
    padding-top: 37px;
    color: white;
        

}


.button{
    box-sizing: border-box;

    height: 50px;
  
    background-color: white;
}

.but{
    box-sizing: border-box;
    height: 10px;
    width: 450px;
    border: none;
    background-color: white;
}


#main{
    
    height: 900px;
    background-color: rgb(74, 235, 11);

    margin-top: 200px;
    display: block;
    width: 100%;
    
}


#wri{
    background-color: white;
}
#last{
    background-color: black;
    margin-top: 8px;
    height: 100px;
    width: 100%;
    color: white;

    text-align: center;


}

h3{
    padding-top: 40px;
}

#shopping{
    margin-top:100px;
    margin-left: 450px;
    width: 1000px;
    height: 500px;
   
}
.our{
    text-align: center;
}

table{
    width: 900px;
    text-align: center;
    margin-left: 500px;
}